body{

    background-image: url(../img/deski1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h5{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.b_background {
    background-image: url(../img/button1.png);
    background-size: 100% 100%;
}

.b_background:hover{
    background-image: url(../img/button2.png);
    background-size: 100% 100%;
    background-position: center;
}