.tb{
    min-width: 30%;
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
}

body{

    background-image: url(../img/deski3.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

td, th{
	color: white;
	background-color: rgba(0, 0, 0, 75%);
}

.b_background {
    background-image: url(../img/button1.png);
    background-size: 100% 100%;
}

.b_background:hover{
    background-image: url(../img/button2.png);
    background-size: 100% 100%;
    background-position: center;
}