body{
    
}

body{

    background-image: url(../img/deski2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h5{
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 2px 2px black;
}

.b_background {
    background-image: url(../img/button1.png);
    background-size: 100% 100%;
}

.b_background:hover{
    background-image: url(../img/button2.png);
    background-size: 100% 100%;
    background-position: center;
}

a{
	color: black;
	text-decoration: underline;
}
a:hover{
	color:black;
}

.fade{
	background-color:white;
}
.g-continue{
    background-color: #DB4437;
}
.fb-continue{
    
    background-color: #3b5998;
    
}
.fb-text{
    color:white;
    text-decoration: none !important;
}
.fb-continue-a{
    text-decoration: none !important;
}
.fb-continue-a:hover{
    color:white;
    text-decoration: none !important;
}
